<%= content_for(:body_index, "index") %>

<div class="outer">
    <div class="out_relative">

      <div class="title_small">
        <img src="/logo_data_01.jpg">
      </div><br>
      <div class="kadomaru_red_pit inner">
          部屋新規作成
          <%= link_to '', controller: rooms_path %>
      </div><br>
      
      <div class="kadomaru_red_pit inner">
          部屋一覧へ
          <%= link_to '', controller: rooms_path %>
      </div><br>
      
      <div class="kadomaru_red_pit inner">
          戻る
          <%= link_to '', controller: :welcome %>
      </div><br>
  </div>
</div>

