<%= content_for(:body_index, "index") %>

<div class="outert">
  <div class="out_relative ">
    <span style="font-size: 28vw">
    <div class="fulldisp">
      <img src="/white_board.png">
    </div>
    
    <textarea id="textarea_board" class="box_textarea" rows="1" placeholder="ここへ"></textarea></span>
    

  </div>
</div>

<%= javascript_include_tag "board.js" %>
