<%= content_for(:body_index, "index") %>

<div class="rule_dtl_indent">

<p><div class="title1">ゲーム準備</div>
1.「始める」を押し、名前を記入してログイン<br>
2.「部屋一覧」から、入りたい部屋を選択する。もしくは、部屋を新規作成する。<br>
3.メンバーが揃ったら、オーナーによる「ゲーム開始」にて、各自にカード（役職）がくばられます。<br>
4.メンバーはポップアップから役職画面へ遷移する<br>
5.各自端末に配られた「お題」とカード（役職）を他の人に見られないように確認する。<br>
6.「ホワイトボード」を開き、全プレイヤーはお題と役職に沿った回答を行う。<br></p>
 
<p><div class="title1">ゲーム開始</div>
1.全員が書き終わったら回答をオープンする。 オープンの順番は自由。<br>
2.一番被ったお題が「ベストアンサー」となる。<br>
3.複数被ったお題がある場合は被ったお題を書いていないプレイヤーの一斉投票で「ベストアンサー」を決める。<br>
4.「ベストアンサー」が決まったら、「ベストアンサー」の中にマイノリティーがいないか確認。(いた場合は挙手して出てもらい、この時点でマジョリティーの勝利)<br>
5.「ベストアンサー」決定後、議論時間2～4分で誰がマイノリティーか話し合う。<br>
6.議論時間終了後、全員一斉投票で怪しい人に指をさす。<br>
  最多得票者がカードをオープンする。  <br><br></p>




<div class="box">
  <div class="box-img">
    <img src="/majority_no.png"></div>

  <div class="box-text">
    <div class="position_name">マジョリティー</div>
    <div class="detail_txt">
    あなたは多数派！「ベストアンサー」を目指す。<br>
    お題に沿った素直な回答や、なるべく被りそうな回答を書こう。<br></div>
  
    <span class="sikaku">勝利条件</span>
    <div class="detail_txt">
    最多票でマイノリティーを追放<br>
    マイノリティーが「ベストアンサー」になる<br>
    ※ストーカーにマイノリティーと同じ回答を書かれない。</div></div></div><br>

<div class="box">
  <div class="box-img">
    <img src="/minority_no.png"></div>

  <div class="box-text">
    <div class="position_name">マイノリティー</div>
    <div class="detail_txt">
    あなたは少数派！最多得票で追放されない事を目指す。<br>
    お題の「ベストアンサー」を想像して、少し離れた回答を書こう。<br>
    離れすぎると怪しまれるのでいい感じの塩梅で！<br></div>
  
    <span class="sikaku">勝利条件</span>
    <div class="detail_txt">
    「ベストアンサー」にならず、最多得票で追放されない。<br>
    ※ストーカーに同じ回答を書かれない。</div></div></div><br>

<div class="box">
  <div class="box-img">
    <img src="/influencer_no.png"></div>

  <div class="box-text">
    <div class="position_name">インフルエンサー</div>
    <div class="detail_txt">
    あなたは目立ちたがり屋！とにかく注目されよう。<br>
    投票時にたくさん票をもらうために「ベストアンサー」とは<br>
    ほど遠い回答を書こう。<br></div>
  
    <span class="sikaku">勝利条件</span>
    <div class="detail_txt">
    最多得票で追放される。<br>
    ※ストーカーにマイノリティーと同じ回答を書かれない。</div></div></div><br>

<div class="box">
  <div class="box-img">
    <img src="/stalker_no.png"></div>

  <div class="box-text">
    <div class="position_name">ストーカー</div>
    <div class="detail_txt">
      あなたはマイノリティーが大好き！<br>
      マイノリティーと同じ回答を書こう。<br></div>
  
    <span class="sikaku">勝利条件</span>
    <div class="detail_txt">
    マイノリティーと同じ回答を書く。<br>
    ※どんな状況でもマイノリティーと同じ回答なら勝利</div></div></div><br>

<p><div class="title1">勝利条件順(まとめ)</div>
ストーカー入りのレギュレーションの場合、<br>
<strong>「ストーカーの勝利条件」</strong>が優先されます。<br>
<br>
誰が最多得票者になったとしてもストーカーが<br>
マイノリティーと同じ回答ができていた時はストーカーの一人勝ちです。<br>
<br>
<strong>インフルエンサーの勝利条件</strong><br>
インフルエンサーが最多投票を受けた時<br>
<br>
<strong>マイノリティーの勝利条件</strong><br>
マジョリティー・ストーカーが最多投票を受けた時<br>
<br>
<strong>マジョリティーの勝利条件</strong><br>
マイノリティーが最多投票を受けた時<br>
ベストアンサーの中にマイノリティーが居た時<br></p><br>

</div>