<%= content_for(:body_index, "index") %>
<span id="disp_show_welcom">

<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>

<div class="out_relative">
<h1>利用規約</h1>
・みんな仲良くプレイしましょう
</div>